{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<!--meta tags-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!--end meta tags-->

    <!--bootstrap links, should put into css folder later?-->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
    <!--end boostrap-->

    <!--link to css file-->
	<link href="{% static 'css/base_styles.css' %}" rel="stylesheet" type="text/css"/>
	<!--end link to css file-->

	<!--start scripts (put into css/js folder later?)-->
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
	<!--end scripts-->
	
    <title>307 final project</title>
</head>
<body>
	<section>
				<nav class="base">
				<ul class="basenav">
					<li><a href="{% url 'home2' %}">Home</a></li>
					<li><a href="{% url 'about' %}">About</a></li>
					<li><a href="{% url 'signup' %}">Register</a></li>
					<li><a href="{% url 'login' %}">Login</a></li>
					<li><a href="{% url 'logout' %}">Logout</a></li>
					<li><a href="{% url 'buy' %}">Buy</a></li>
					<li><a href="{% url 'create' %}">Sell</a></li>
          <li><a href="{% url 'cart' %}">Cart</a></li>
          <li><a href="{% url 'checkout' %}">Checkout</a></li>
					<li><a href="{% url 'index' %}">Chat</a></li>
				</ul>
			</nav>
	</section>
    {% block content %}

    {% endblock %}
    <section>
    <footer>
    <br>
    <br>
    <br>
    <div class="footer-area">
      <div class="container">
        <div class="footer-words">
          <div class="row section_gap">
            <div>
              <div>
                <h4 class="footer-words">About Us</h4>
                <p class="footer-sub" style="color:#BDBDBD">
                  This is a market place project for COMP307!
                </p>
              </div>
            </div>
            <div class="offset-lg-1 col-lg-3 col-md-6">
              <div>
                <h4 class="footer-words">Quick Links</h4>
                <ul class="footer-list">
                  <h6><a href="about" class="ft-link">About</a></h6> 
                  <h6><a href="signup" class="ft-link">Register</a></h6> 
                  <h6><a href="login" class="ft-link">Login</a></h6> 
                  <h6><a href="logout" class="ft-link">Logout</a></h6>
                  <h6><a href="buy" class="ft-link">Buy</a></h6>
                  <h6><a href="create" class="ft-link">Sell</a></h6>
                  <h6><a href="{% url 'index' %}" class="ft-link">Help</a></h6>
                </ul>
              </div>
            </div>
            <div class="offset-lg-1 col-lg-3 col-md-6">
              <div>
                <h4 class="footer-words">Contact Us</h4>
                <div class="footer-sub" style="color: #BDBDBD">
                  <p class="sm-head">
                    <b>Phone Number</b>
                  </p>
                  <p>
                    +123 456 7890 (not our actual number)
                  </p>
    
                  <p class="sm-head">
                    <b>Email</b>
                  </p>
                  <p>
                    something@gmail.com <br>
                    www.something.com (not actual email or website)
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>
</section>
    
</body>
</html>