{% extends 'base.html' %}
{% load static %}
{% block title %} Shop {% endblock %}
{% block content %}
<!DOCTYPE html>
<html>

<head>  
  <!-- bootstrap moved to base.html-->

  <title>Browse & Buy</title>

  <link rel="stylesheet" href="{% static 'css/base_styles.css' %}"> 
  <style type="text/css">
    .product-row {
      margin: 20px;
    }
  </style>
</head>

<!-- NAVBAR -->
<body>
    <div>
      <nav class="navbar navbar-expand-sm">
        <div class="container">
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto mr-auto">
              <li class="nav-item active dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" id="navbarDropdown">Shop Products</a>
                <ul class="dropdown-menu">
                  <li class="nav-item"><a class="nav-link" href="category">Shop by Category</a></li>
                  <li class="nav-item"><a class="nav-link" href="cart">Your Cart</a></li>
                  <li class="nav-item"><a class="nav-link" href="checkout">Checkout Product</a></li>
                </ul>
              </li>
              <li class="nav-item submenu dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button">Sell Products</a>
                <ul class="dropdown-menu">
                  <li class="nav-item"><a class="nav-link" href="create">Sell New Items</a></li>
                  <li class="nav-item"><a class="nav-link" href="edit">Modify Listings</a></li>
                </ul>
            </ul>
          </div>
        </div>
      </nav>
    </div>
  </header>

<!-- HEADER AREA + breadcrumbs -->
  <section>
    <div class="header-area">
      <div class="text-center">
        <h1 class="header-words">Shop & Browse</h1>
      </div>
        <ul class="breadcrumb">
          <li class="breadcrumb-item"><a href="home">Home</a></li>
          <li class="breadcrumb-item active" aria-current="page">Shop & Browse</li>
        </ul>
    </div>
  </section>

<!-- FILTERS: This part could have more categories/brands as the inventory grows but we could also just cap it? -->
  <section class="fitlers">
    <div class="container">
      <div class="row">
        <div class="col-md-5 col-lg-4 col-xl-3">
          <div>
            <div class="top-filter-head"><b>Product Categories</b></div>
            <form action="#">
              <ul>
                <li><input type="radio" id="men" name="category"><label for="men">Men</label></li>
                <li><input type="radio" id="women" name="category"><label for="women">Women</label></li>
                <li><input type="radio" id="accessories" name="category"><label for="accessories">Accessories</label></li>  
                <li><input type="radio" id="other" name="category"><label for="other">Other</label></li>
              </ul>
            </form>
          </div>
          <div>
            <div class="top-filter-head"><b>Product Filters</b></div>
            <div>
              <div class="head">Brands</div>
              <form action="#">
                <ul>
                  <li><input type="radio" id="uo" name="brand"><label for="uo">Urban Outfitters</label></li>
                  <li><input type="radio" id="roots" name="brand"><label for="roots">Roots</label></li>
                  <li><input type="radio" id="zara" name="brand"><label for="zara">Zara</label></li>
                  <li><input type="radio" id="other" name="brand"><label for="other">Other</label></li>
                </ul>
              </form>
            </div>
            <div>
              <div class="head">Size</div>
              <form action="#">
                <ul>
                  <li><input type="radio" id="small" name="size"><label for="small">Small</label></li>
                  <li><input type="radio" id="medium" name="size"><label for="medium">Medium</label></li>
                  <li><input type="radio" id="large" name="size"><label for="large">Large</label></li>
                </ul>
              </form>
            </div>
            <div>
              <div class="head">Price</div>
              <div class="price-range-area">
              <div id="price-range"></div>
                <div class="rangeslider"> 
                <ul>
                  <li class="filter-list">
            <input type="range" min="10" max="5000" value="10" step="10" class="myslider" id="sliderRange"> 
            <p>Under $<span id="dollars"></span></p></li>
        </ul>
        </div> 
              </div>
            </div>
          </div>
        </div>
        

        

<!-- PRODUCTS SECTION: Django tags should be implemented for backend. SHOULD show 9 products in given space, BUT will need to put in custom template tags to break the for loop at 9 items, and create pagination -->
 
          <div class="col-md-7 col-lg-8 col-xl-9">
          <section>
            <div class="product-row">
                  <div class="left-column col-lg-7 offset-lg-1">

                    {% if item_posts %}
                    {% for post in item_posts %}
                    <div class="item-post-container">
                      {% include 'item_post_snippet.html' with item_post=post %}
                    </div>
                    {% endfor %}
                    {% else %}
                      <div class="item-post-container">
                        {% include 'item_post_snippet.html' with query=query %}
                      </div>
                    {% endif %}



  <!-- Code for 3x3 row & columns in a row not working :/

                  {% if item_posts %}
                   {% for item in item_posts %}

                  <div class="card text-center card-product">

                      {% if item_post %}
                      <div class="container">
                      <div class="row">
                      <div class="card m-auto">

                        <a href="{% url 'detail' post.slug %}">
                          <img class="card-img-top" src="{{ item_post.image.url }}" alt="{{ item_post.title }}">
                        </a>

                      <div class="card-body mt-2 mb-2">
                        <p class="card-text">{{ item_post.inventory }}</p>
                        <h4><a href="{% url 'detail' post.slug %}">{{ item_post.title }}</a></h4>
                        <p class="card-text">{{ item_post.price }}</p>
                      </div>
                      </div>
                      </div>
                      </div>
                      {% endif %}

                  </div>
                
                  {% endfor %}
              
                {% else %}
                  <div class="item-post-container">
                    {% include 'item_post_snippet.html' with query=query %}
                  </div>
                {% endif %}
                </div>
          </div>
        </section>
      -->
        


        </div>

      </div>
    </div>
  </section>

<!-- Implement pagination here -->
{% include 'item_post_pagination.html' with item_posts=item_posts %}

<!-- Footer section with relative info. Could be a different template?? 
  moved to base.html -->


<!-- range slider code for price -->
<script> 
var rangeSlider = document.getElementById("sliderRange"); 
var output = document.getElementById("dollars"); 
output.innerHTML = rangeSlider.value; 
  
rangeSlider.oninput = function() { 
    output.innerHTML = this.value;
} 
</script>

</html>
{% endblock %}