{% extends 'base.html' %}
{% load static %}
{% block title %} Chat {% endblock %}
{% block content %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Chat Rooms</title>
</head>
<style type="text/css">
    section {
        margin-top: 20px;
    }
    input {
        margin: 20px;
    }
</style>
<div class="header-area">
  <div class="text-center">
    <h1 class="header-words">Chat Room for Help<br> {{ room_name }}</h1>
  </div>
</div>
<body>
    <section>
    Type <i>price </i> for questions about price<br/>
    Type <i>shipping </i> for questions about shipping<br/>
    Type <i>quality </i>  for questions about quality of product<br/>
    Type <i>other </i> for questions not related to any of the above<br/> <br/>
    Which chat room would you like to enter?<br/>
    <input id="room-name-input" type="text" size="100"/><br/>
    <input id="room-name-submit" type="button" value="Enter"/>
    </section>

    <script>
        document.getElementById('room-name-input').focus();
        document.getElementById('room-name-input').onkeyup = function(e) {
            if (e.keyCode === 13) {  // enter, return
                document.getElementById('room-name-submit').click();
            }
        };

        document.getElementById('room-name-submit').onclick = function(e) {
            var roomName = document.getElementById('room-name-input').value;
            window.location.pathname = 'chat/' + roomName + '/';
        };
    </script>
</body>
</html>

{% endblock %}