{% extends 'base.html' %}
{% load static %}
{% block content %}
<style type="text/css">
  p {
    margin: 20px;
  }
</style>
<div class="header-area">
  <div class="text-center">
    <h1 class="header-words">Login</h1>
  </div>
</div>
<div>{{ form.non_field_errors }}</div>
<div>
  {% if messages %}
  <ul class="messages">
      {% for message in messages %}
      <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
      {% endfor %}
  </ul>
  {% endif %}
</div>
<form action="" method="post">
    {% csrf_token %}
    <p>
      Username: <input type="text" name="username" />
      {{ form.username.errors }}
    </p>
    <p>      Password: <input type="password" name="password" />
      {{ form.password.errors }}
    </p>
    <p>
      {% if form.errors %}
        <div class="alert alert-danger">Your username and password didn't match. Please try again.</div>
          {% else %}
            {% if next %}
                {% if user.is_authenticated %}
                    <div class="alert alert-info">Your account doesn't have access to this page. To proceed, please login with an account that has access.</div>
                {% else %}
                    <div class="alert alert-info">Please login to see this page.</div>
            {% endif %}
          {% endif %}
        {% endif %}
    </p>
    <p>
      <input type="submit" value="Login" />
      <input type="hidden" name="next" value="{% url 'about' %}"/>
    </p>
</form>
{% endblock %}

